*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: green;
    width: 100%;

}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}



body {
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {

    color: black;
    text-decoration: none;
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 30px;
    font-family: sans-serif;
}




h1 {
    background-color: white ;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: sans-serif;


}

#logo {
    width: 10%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.gpubilder {
    width: 20%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 10px;
}

.gpulinker {
    padding: 10px;
    background-color: green;
}
button {
    color: blue;
}

h2 {
    background-color: white ;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: sans-serif;

}

.priserbra {
    background-color: rgb(252, 244, 4);
}
